:root{
    --black: #420d09;
    --fg: #bf0a30;
    --first-color: #8f0410;
    --title-color: hsl(0, 0%, 15%);
    --text-color: hsl(0, 0%, 35%);
    --body-color:#ffffff;
    --container-color: hsl(0, 0%, 100%);
    
}
/* корневой элемент */
*{
    margin:0 ; 
    padding: 0;  
    /* отступы вокруг элемента равными нулю. */
    /* внутренние отступы элемента равными нулю */
    box-sizing: border-box;
    font-family:Georgia, serif ;
    outline: none;
     /* Удаляет контур вокруг элемента */
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    /* все буквы в слове прописные */
    transition: .2s linear;
    /* анимация перехода на 0,2 сек */
}

html{
    font-size: 62.5%;
    /* шрифттын базовый размерын устонавливаем */
    overflow-x: hidden;
    /* х горизонтально прячет выходящее за пределами этого элемента */
}


section{
    padding: 2rem 9% ;
    /* 2rem указывает на отступы по вертикали
    9% указывает на отступы по горизонтали */
    /* внутренние отступы эл. */
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

  
.heading{
    text-align: center;
    font-size: 4rem;
    color: #000000;
    padding: 1rem;
    margin: 2rem 0;
}



/* rem (root em) - это единица измерения, которая относится к размеру шрифта корневого элемента (html).
 Один rem равен размеру текущего шрифта корневого элемента.
  Например, если у вас задан размер шрифта для html в 16px, то 1rem будет равен 16px. */
.heading span{
    color: #8f0410
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #8f0410;
    color: #fff;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}
.btn:hover{
    background: var(--black);
}
header {
    position: fixed;
    top:0;left:0;right: 0;
    padding: 2rem 9%;
    display: flex;
    background:#fff;
    align-items:center ;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1) ;
    border-radius: 0.3rem;

}


header .logo{
    font-size: 3rem;
    color:#8f0410;
    font-weight: bolder;

}

header .navbar a{
font-size: 2rem;
padding: 0 1.5rem;
color: #bf0a30
}

header .navbar a:hover{
    color: var(--black);
}

header .icons button{
    font-size: 2.5rem;
    color: #8f0410;
    margin-left: 1.5rem;
    background: none;
}



header .icons a:hover{
    color:var(--black)
}




/* Home end */
.banner{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url(imj/msg-1001798593262-22132\ [problembo.com].jpg);
    background-size:cover;
    background-position:end;
    
}

.banner .content{
    max-width: 50rem;
}
.banner .content h3{
    font-size: 6rem;
    color: #8f0410;
    
}
.banner p{
   color: #350206;
    font-size: larger;
}


/* ABOUT */
.about{
    /* background-image: url(imj/shadow.png); */
    background: #FFF;
}
.about .row{
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem; 
    /* отступ снизу */
    
}

.about .row .video-container{
    flex: 1 1 40rem;
    position: relative;
}
.about .row .video-container video{
width: 100%;height: 100%;
border: 1.5rem solid #350206; 
border-radius: .5rem;
box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
object-fit:cover ;
}

.about .row .video-container h3{
    position:absolute;
    top: 50%;  /*перемещает верхнюю страница на 50% относительно от верхней части р.э. */
    transform: translateY(-50%); /*вертикально центрировать ету ушын*/
    font-size: 6rem;
    color: #333; 
    background: #ffffff;
    width: 100%;
    padding:1rem 2rem;
    text-align: center;
    mix-blend-mode:color-dodge; /*сделал текст прозрачным */
}

.about .row .content{
    flex: 1 1 40rem;
}
.about .row .content h3{
font-size: 3rem;
color:#8f0410;
}

.about .row .content p{
    font-size: 1.5rem;
    color: black;
}






/*=============== kartochki===============*/
.container {
  width: 100%;
  margin-top: 50px;
}

.card__container {
  width: 80%;
  margin: auto;
  display: flex; /*элементты контейнер кылад гибкий*/
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 180px;
  margin-bottom: 50px;/*внешний отступ снизу элемента*/
  color: #8f0410;
  
}

.card__article {
  position: relative;
  overflow: hidden;
}

.card__img {
  width: 170px;
  border-radius: 1.5rem;
}

.card__data {
  width: 200px;
  background-color: var(--container-color);
  padding: 1.5rem 2rem;
  box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
  border-radius: 1rem;
  position: absolute;
  bottom: -9rem;
  left: 0;
  right: 0;
  margin-inline: auto;/*автоматом отступы по бокам*/
  opacity: 0; 
}

.card__description {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: .25rem;
}

.card__title {
  font-size: var(--h2-font-size);
  font-weight: 500;
  color: var(--title-color);
  margin-bottom: .75rem;
}

.card__button {
  text-decoration: none;
  font-size: var(--small-font-size);
  font-weight: 900;
  color: var(--first-color);
}

.card__button:hover {
  text-decoration: underline;
}

/* анимация в ховере */
.card__article:hover .card__data {
  animation: show-data 1s forwards;
  opacity: 1;
  transition: opacity .3s;
}

.card__article:hover {
  animation: remove-overflow 2s forwards;
}

.card__article:not(:hover) {
  animation: show-overflow 2s forwards;
}

.card__article:not(:hover) .card__data {
  animation: remove-data 1s forwards;
} 


/* Card анимация */
@keyframes show-data {
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(-7rem);
  }
}

@keyframes remove-overflow {
  to {
    overflow: initial;
  }
}


.select{
  width: 60%;
  height: 580px;
  padding: 5%;
  background: #fff;
  position: absolute;
  top: -1000px;
  left: 20%;
  transition: 0.5s;
  overflow-y: auto;
  margin: auto;
}
.select.display{
  top: 10px;
}
.select div{
  width: 100%;
  height: 200px;
  display: flex;
  padding: 5px;
  border: 1px solid rgb(3, 3, 3);
  position: relative;
  margin: 5px auto;
}
.select div img{
  width: 300px;
  height: 100%;
}
.select div p{
  padding: 35px;
  color: #000000;
}
.select div h6,
.select div button{
  position: absolute;
  left: 45%;
  top: 50%;
  color: #8f0410;
}
.select div button{
  left: 60%;
  top: 55%;
}
.select div span{
  display: none;
}

/* ОТЗЫВ*/

.review .box-container{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.review .box-container .box{
  flex: 1 1 26rem;
  box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
  border-radius: .5rem;
  padding: 3rem 2rem;
  position: relative;
  background-color: #8f0410;
}

.review .box-container .box .fa-quote-right{
  position:absolute;
  bottom: 2rem;right: 2rem;
  font-size: 6rem;
  color: #eee;
}
.review .box-container .box .stars i{
  color: #350206;
  font-size: 2rem;
}
.review .box-container .box p{
  color: #ffffff;
  font-size: 1.5rem;
  line-height: 1.5;
  padding-top: 2rem ;

}

.review .box-container .box .user{
  display: flex;
  align-items: center;
  padding-top: 2rem;

}
.review .box-container .box .user img{
  height: 6rem;
  width: 6rem;
  border-radius:50% ;
  object-fit: cover;
  margin-right: 1rem;
}
.review .box-container .box .user h3{
  font-size: 1.5rem;
  color: #333;
}
.review .box-container .box .user h3{
  font-size: 1.5rem;
  color: #666;
}
/* ОТЗЫВ */


/* ikoonnnnnns */

.IKONKI {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.IKONKI .boxx {
  flex: 1 1 30rem;
  border-radius: .5rem;
  padding: 1rem;
  text-align: center;
  align-items: center;
  box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

.IKONKI .boxx:hover{
  box-shadow: 0 .5rem 2rem #420d09 ;
}

.IKONKI .boxx img {
  padding: 1rem;
  height:150px ;
  width:150px;
  position: relative;
  right: -120px;
}

.IKONKI .boxx h3{
  font-size: 2.5rem;
  color:#420d09;
}

.IKONKI .boxx p{
  font-size: 1.5rem;
  color: #8f0410;
  padding: 1rem 0;
}
/* ikooonnnnns end */





